include block_html/_style.pug
include block_html/_include.pug


.b-wrap-cont
	// На сайте Шапка и футер уже есть
	// В скриптах подлючается jquery если в проекте он уже есть не подлючай
	// Чтобы не было конфликтов стилей у блоков будет префикс "b-"
	// В обертке .b-wrap-cont глобально подлючен шрифт "PT Sans" в файлах он не подлючается, для работы бери все что лежит внутри этого блока
	// !!! NOTE !!! Если будут вопросы пиши contact mail:kuznecovs45@gmail.com skype:an_kuznetcov
	.b-section
		.b-main-cont
			.b-about(data-aos="fade" data-aos-delay="400" data-aos-duration="1400")
				a(href="#" style="background-image:url('img/item-1.jpg')").b-about__el
					.b-filter
					.b-about__el-info
						span Разрабатываем и внедряем бизнес-процессы
				a(href="#" style="background-image:url('img/item-2.jpg')").b-about__el
					.b-filter
					.b-about__el-info
						span Внедряем 1С:Битрикс24
				a(href="#" style="background-image:url('img/item-3.jpg')").b-about__el
					.b-filter
					.b-about__el-info
						span Предоставляем лицензии
				a(href="#" style="background-image:url('img/item-4.jpg')").b-about__el
					.b-filter
					.b-about__el-info
						span Настраиваем обмен 1С и CRM
	.b-order-wrap
		.b-main-cont
			.b-title.b-title--white.b-title--sm Нужна помощь в подборе CRM?
			.b-order
				.b-input-row.b-input-row--error
					input(type="text" placeholder="Ваше имя" class="b-input")
					.b-error-msg данные не подходят
				.b-input-row
					input(type="text" placeholder="Телефон" class="b-input")
				.b-input-row
					input(type="text" placeholder="Почта" class="b-input")
				.b-input-row
					input(type="submit" value="Отправить" class="b-btn--md b-btn--mark")
	.b-section
		.b-main-cont
			.b-title(data-aos="fade-in" data-aos-delay="300" data-aos-duration="2000") Возможности для клиента
			.b-advant(data-aos="fade-up" data-aos-delay="300" data-aos-duration="1500")
				.b-advant__el
					.b-advant__el-img
						.b-advant__el-icon
							img(src="img/tools.svg", alt="")
						.b-advant__el-figure
							img(src="img/hexagon.svg", alt="")
					.b-advant__el-title Настройка CRM
				.b-advant__el
					.b-advant__el-img
						.b-advant__el-icon
							img(src="img/config.svg", alt="")
						.b-advant__el-figure
							img(src="img/hexagon-rotate.svg", alt="")
					.b-advant__el-title Настройка 1C
				.b-advant__el
					.b-advant__el-img
						.b-advant__el-icon
							img(src="img/ingtergration.svg", alt="")
						.b-advant__el-figure
							img(src="img/hexagon.svg", alt="")
					.b-advant__el-title Интеграция 1C и CRM
				.b-advant__el
					.b-advant__el-img
						.b-advant__el-icon
							img(src="img/payment.svg", alt="")
						.b-advant__el-figure
							img(src="img/hexagon-rotate.svg", alt="")
					.b-advant__el-title Оплата лицензий
				.b-advant__el
					.b-advant__el-img
						.b-advant__el-icon
							img(src="img/partners.svg", alt="")
						.b-advant__el-figure
							img(src="img/hexagon.svg", alt="")
					.b-advant__el-title Партнёрская программа
				.b-advant__el
					.b-advant__el-img
						.b-advant__el-icon
							img(src="img/graf.svg", alt="")
						.b-advant__el-figure
							img(src="img/hexagon-rotate.svg", alt="")
					.b-advant__el-title Акции
	.b-section.b-section--gray
		.b-main-cont
			.b-title Наши продукты
			.b-slider-wrap.b-slider-wrap--simple
				.b-slider-control.b-slider-control--left
					img(src="img/arrow-left.svg", alt="")
				.b-slider-control.b-slider-control--right
					img(src="img/arrow-right.svg", alt="")
				.b-slider-item.b-slider-items
					- for (var i=0;i<3;i++)
						.b-slider-el-wrap
							.b-slider-product__el
								.b-slider-product__el-img(style="background-image:url('img/product-1.png')")
								.b-slider-product__el-info
									.b-slider-product__el-title Битрикс24 облачная версия
									.b-slider-product__el-text
										img(src="img/check-green.svg", alt="")
										span в наличии
									.b-slider-product__el-cost от 990 р/мес
									a(href="#").b-slider-product__el-get Заказать
						.b-slider-el-wrap
							.b-slider-product__el
								.b-slider-product__el-img(style="background-image:url('img/product-2.png')")
								.b-slider-product__el-info
									.b-slider-product__el-title Битрикс24 облачная версия облачная версия
									.b-slider-product__el-text
										img(src="img/check-green.svg", alt="")
										span в наличии
									.b-slider-product__el-cost от 990 р/мес
									a(href="#").b-slider-product__el-get Заказать
	.b-section
		.b-main-cont
			.b-title(data-aos="fade-in" data-aos-delay="300" data-aos-duration="2000") Компания «BusinessUpgrade» — <br> это команда профессионалов своего дела!
			.b-team(data-aos="fade-up" data-aos-delay="300" data-aos-duration="1500")
				.b-team__el
					.b-team__el-img
						img(src="img/analisis.svg", alt="")
					.b-team__el-text Бизнес-аналитики
				.b-team__el
					.b-team__el-img
						img(src="img/prog.svg", alt="")
					.b-team__el-text Программисты 1C:Битрикс24
				.b-team__el
					.b-team__el-img
						img(src="img/advant.svg", alt="")
					.b-team__el-text Системные администраторы
				.b-team__el
					.b-team__el-img
						img(src="img/chat.svg", alt="")
					.b-team__el-text Специалисты по обучению сотрудников
				.b-team__el
					.b-team__el-img
						img(src="img/call-info.svg", alt="")
					.b-team__el-text Специалисты технической поддержки Битрикс24
				.b-team__el
					.b-team__el-img
						img(src="img/web.svg", alt="")
					.b-team__el-text Программисты 1С

	.b-section.b-section--gray
		.b-main-cont
			.b-title Наши клиенты
			.b-slider-wrap.b-slider-wrap--simple
				.b-slider-control.b-slider-control--left
					img(src="img/arrow-left.svg", alt="")
				.b-slider-control.b-slider-control--right
					img(src="img/arrow-right.svg", alt="")
				.b-slider-item.b-slider-items
					- for (var i=0;i<3;i++)
						.b-slider-el-wrap
							.b-slider-client__el
								.b-slider-client__el-img(style="background-image:url('img/partner-logo-1.png')")
								.b-slider-client__el-info Герой сегодняшней подборки - американский музыкант сицилийского происхождения Салли Эрна (р. 1968 г.), вокалист и мультиинструменталист (гитарист, клавишник, ударник). Наиболее известен широкой публике как бессменный лидер группы Godsmack. Подборки с творчеством данного коллектива я ранее уже выкладывал. Но в этой будут песни из сольного пр.. екта Эрны. В проекте имени себя Салли Эрна исполняет музыку б
						.b-slider-el-wrap
							.b-slider-client__el
								.b-slider-client__el-img(style="background-image:url('img/partner-logo-2.png')")
								.b-slider-client__el-info Герой сегодняшней подборки - американский музыкант сицилийского происхождения Салли Эрна (р. 1968 г.), вокалист и мультиинструменталист (гитарист, клавишник, ударник). Наиболее известен широкой публике как бессменный лидер группы Godsmack. Подборки с творчеством данного коллектива я ранее уже выкладывал.
	.b-section
		.b-main-cont
			.b-title Что мы вам готовы дать
			.provide
				.provide__el
					.provide__el-img
						img(src="img/control.png", alt="")
					.provide__el-info
						.provide__el-title Увеличение контроля процессов компании
						.provide__el-list
							.provide__el-list__el автоматизация отчетов
							.provide__el-list__el контроль KPI сотрудников
							.provide__el-list__el контроль исполнения задач
				.provide__el
					.provide__el-img
						img(src="img/money.png", alt="")
					.provide__el-info
						.provide__el-title Увеличение прибыли компаний
						.provide__el-list
							.provide__el-list__el автоматизация маркетинга
							.provide__el-list__el контроль работы продавцов
							.provide__el-list__el работа со всеми обращениями клиентов в одном месте
				.provide__el
					.provide__el-img
						img(src="img/robot.png", alt="")
					.provide__el-info
						.provide__el-title Высвобождение времени менеджеров
						.provide__el-list
							.provide__el-list__el автоматизация рутинных процессов
							.provide__el-list__el автоматизация документооборота
							.provide__el-list__el автоматизация воронки продаж
				.provide__el
					.provide__el-img
						img(src="img/marketing.png", alt="")
					.provide__el-info
						.provide__el-title Увеличение эффективности маркетинга
						.provide__el-list
							.provide__el-list__el настройка сквозной аналитики
							.provide__el-list__el подключение колл-трекинга
							.provide__el-list__el контроль ЛИДогенерации в одном месте
	.b-order-wrap.b-order-wrap--dark
		.b-main-cont
			.b-title.b-title--white.b-title--sm Работающая CRM уже через 14 дней
			.b-order
				.b-input-row
					input(type="text" placeholder="Ваше имя" class="b-input")
				.b-input-row
					input(type="text" placeholder="Телефон" class="b-input")
				.b-input-row
					input(type="text" placeholder="Почта" class="b-input")
				.b-input-row
					input(type="submit" value="Отправить" class="b-btn--md b-btn--mark")
include ./block_html/_script.pug
